@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
* {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*#CF6679 Error 404   */
}
body {
  background-color: #121212;
  color:white;
  min-height: 100vh;
}

.Heading-1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: rgb(157, 155, 153);
  padding-top: 90px;       /*120 to 60px*/
}
